extends ../layouts/layout

block breadcrumbs
  nav.l-breadcrumbs(aria-label='breadcrumb')
    ol.breadcrumb
      li.breadcrumb-item
        a(href=`${layoutRoutes.rootPath()}`) Home
      li.breadcrumb-item.active(aria-current='page')= contentCategory.title

block content
  h1= contentCategory.title
  .b-content-category-description!= contentCategory.description

  if contents
    .card-deck.l-category-contents.mt-3
      - // TODO move inline style image to mixin and handle case with empty or default image
      - // add pug-loader https://github.com/pugjs/pug-loader
      each content in contents
        .b-category-content
          .card.bg-light.mb-3.border-primary
            .card-img-top.card-header.b-content-preview(style=`background-image: url(${content.thumbnailPath}), background-size: cover, background-position: center`)
            .card-body
              h5.card-title= content.title
              .card-text!= content.shortDescription
            footer.card-footer
              a.card-link(href=`${layoutRoutes.contentCategoryContentPath(contentCategory.id, content.id)}`) Read more
