extends ../layouts/layout

include ../mixins/images

block breadcrumbs
  nav.l-breadcrumbs(aria-label='breadcrumb')
    ol.breadcrumb
      li.breadcrumb-item
        a(href=`${layoutRoutes.rootPath()}`) Home
      li.breadcrumb-item.active(aria-current='page')= contentCategory.title

block content
  h1= contentCategory.title
  .b-content-category-description!= contentCategory.description

  if contents
    .card-deck.l-category-contents.mt-3
      each content in contents
        .b-category-content
          .card.bg-light.mb-3.border-primary
            if content.thumbnailPath
              +cardImage({ width: 230, height: 175, path: content.thumbnailPath })
            .card-body
              h5.card-title= content.title
              .card-text!= content.shortDescription
            footer.card-footer
              a.card-link(href=`${layoutRoutes.contentCategoryContentPath(contentCategory.id, content.id)}`) Read more
