extends ../../layouts/admin

include ../mixins/errors

block content
  h1 Content category editor

  if messages.error
    +printErrors(messages.error)

  // TODO: try to reuse form from new action
  form.l-admin-page-form(action=`${adminRoutes.updateContentCategoryPath(contentCategory.id)}?_method=PUT` method='POST' enctype='multipart/form-data')
    .form-group.l-admin-page-form-row
      label.col-form-label.l-admin-page-form-label Thumbnail
      .l-admin-page-form-input-wrapper
        if contentCategory.thumbnailPath
          img.img-thumbnail.rounded.float-left.mb-1(src=`${imageSrcBuilder({ width: 300, height: 300, path: contentCategory.thumbnailPath })}` alt=`${contentCategory.title}`)

        input.form-control(type='file' name='thumbnail')

    .form-group.l-admin-page-form-row
      label.col-form-label.l-admin-page-form-label(for='b-content-category-title') Title
      .l-admin-page-form-input-wrapper
        input.form-control#b-content-category-title(type='text' name='title' value=`${contentCategory.title}`)

    .form-group.l-admin-page-form-row
      label.col-form-label.l-admin-page-form-label(for='b-content-category-alias') Alias
      .l-admin-page-form-input-wrapper
        input.form-control#b-content-category-alias(type='text' name='alias' value=`${contentCategory.alias}`)

    .form-group.l-admin-page-form-row
      label.col-form-label.l-admin-page-form-label(for='b-content-category-short-description') Short description
      .l-admin-page-form-input-wrapper
        textarea.form-control.b-reach-text-editor#b-content-category-short-description(type='text' name='shortDescription')= contentCategory.shortDescription

    .form-group.l-admin-page-form-row
      label.col-form-label.l-admin-page-form-label(for='b-content-category-description') Description
      .l-admin-page-form-input-wrapper
        textarea.form-control.b-reach-text-editor#b-content-category-description(type='text' name='description')= contentCategory.description

    .form-group.l-admin-page-form-row
      button.btn.btn-success(type='submit') Save
