doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/stylesheets/admin.css')
  body
    .h-admin-page
      .h-admin-page-navigation.bg-dark
        nav.l-admin-page-navigation.navbar.navbar-expand-md.navbar-dark.bg-dark
          a.navbar-brand(href='/admin') Admin

          button.navbar-toggler(type='button' data-toggle='collapse' data-target='#b-admin-page-navigation', aria-controls='b-admin-page-navigation')
            span(class='navbar-toggler-icon')

          .collapse.navbar-collapse#b-admin-page-navigation
            ul.navbar-nav.mr-auto
              - // TODO handle active menu item
              li.nav-item.active
                a.nav-link(href=`${adminRoutes.contentCategoriesPath()}`) Content Categories

              li.nav-item
                a.nav-link(href=`${adminRoutes.contentsPath()}`) Contents

              li.nav-item
                a.nav-link(href=`${adminRoutes.usersPath()}`) Users

              li.nav-item
                a.nav-link(href=`${adminRoutes.pagesPath()}`) Static pages

            form.form-inline.my-2.my-lg-0(action='/admin/logout?_method=DELETE' method='POST')
              button.btn.btn-primary.my-2.my-sm-0(type='submit') Log out

      main.l-admin-page-content
        block content

    footer.bg-dark.text-light
      section.l-footer-section
        .b-copyright
          p.
            Powered by
            #[a(href='https://github.com/JustSnow', alt='JustSnow') JustSnow ]
            since 2019

  script(src='/javascripts/vendors~admin~app.js')
  script(src='/javascripts/vendors~admin.js')
  script(src='/javascripts/admin.js')
