doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title= title
    link(rel='stylesheet', href='/stylesheets/app.css')
  body
    header.l-page-header
      nav.h-page-navigation.navbar.navbar-expand-md.navbar-light
        .container
          a.navbar-brand(href=`${layoutRoutes.rootPath()}`) Logo

          button.navbar-toggler(type='button' data-toggle='collapse' data-target='#b-page-navigation', aria-controls='b-page-navigation')
            span(class='navbar-toggler-icon')

          .collapse.navbar-collapse#b-page-navigation
            ul.navbar-nav.mr-auto.justify-content-md-center
              li.nav-item.active
                a.nav-link(href='/about') About

              if contentCategories
                li.nav-item.dropdown
                  a.nav-link.dropdown-toggle#l-page-contents-dropdown(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Content categories
                  .dropdown-menu(aria-labelledby='l-page-contents-dropdown')
                    each contentCategory in contentCategories
                      a.dropdown-item(href=`${layoutRoutes.contentCategoryPath(contentCategory.id)}`)= contentCategory.title

              li.nav-item
                a.nav-link(href='/policy-and-privacy') Policy and Privacy

              li.nav-item
                a.nav-link(href='/contacts') Contacts

    main.l-page-content
      if contentCategories
        .carousel.slide#l-content-categories-slider(data-ride='carousel')
          .carousel-inner
            each contentCategory in contentCategories
              .carousel-item
                img(src='./images/hero-banner.png' alt=`contentCategory.title`)
                .carousel-caption
                  h5= contentCategory.title
                  .b-content-category-slider-description= contentCategory.description

          a.carousel-control-prev(href='#l-content-categories-slider' role='button' data-slide='prev')
            span.carousel-control-prev-icon(aria-hidden='true')
            span.sr-only Previous

          a.carousel-control-next(href='#l-content-categories-slider' role='button' data-slide='next')
            span.carousel-control-next-icon(aria-hidden='true')
            span.sr-only Next

      section.l-page-big-logo

      block breadcrumbs
      block content

  script(src='/javascripts/app.js')
